/*
---------------------------------------------
root (common 가상의 공식을 만듣어서 해당 공식을 사용하면 적용을 시킬 수 있다.)
---------------------------------------------
*/
:root{
    /* font */
    --f-m-color : #2a2a2a;
    --f-g-color : #aaa;
    --f-n-size : .9375rem;
   
    /* color */
    --bg-color : #2a2a2a;
   
    /* element interval */
    --el-s-interval : 1.875rem;
   }

/*
    container - fit center element
*/

.container {
    width: 1200px;
    height: auto;
    margin: auto;
}

/* Dot Bottom */
.dot-bottom {
    border-bottom: 2px dotted #eee;
}

/* Common Button Style */
.common-btn {
    font-size: .875rem;
    border: 1px solid #fff;
    font-weight: 500;
    color: #fff;
    width: fit-content;
    padding: .75rem 1.25rem;
    transition: all .4s;
}

.common-btn:hover {
    color: var(--f-m-color);
    background: #fff;
}